@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colours */
  --background-hex: #CC5A5A;
  --highlight-hex: #FFFFFF;
  --border-hex: #8F3F3F;
  --disabled-hex: #a74f4f;
  --foreground-rgba: 0,0,0,0.75;
  /* Spacing */
  --header-padding: 36px;
  --container-padding: 36px;
  --button-padding: 40px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO - dark scheme */
  }
}

body {
  color: rgba(var(--foreground-rgba));
  background: var(--background-hex);
}
